.root {

    -fx-background-image:url('../Image/backpp.jpg');
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
.label {
    -fx-background-color: #F5F5F5;
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-text-alignment: center;
    -fx-font-size: 12px;
}

#welcome {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
}

#nameDic {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
    -fx-font-size: 25px;
}


