#des_text {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-radius: 20px;

}
#src_text {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-radius: 20px;
}