.button {
    -fx-cursor: hand;

}
.button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#search_button {

    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/search.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */


}
#search_button:hover {
    -fx-scale-x: 1.4; /* Tỉ lệ phóng to ngang khi di chuột vào */
    -fx-scale-y: 1.3; /* Tỉ lệ phóng to dọc khi di chuột vào */

}

#edit_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/edit.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#edit_button:hover {
    -fx-scale-x: 1.4; /* Tỉ lệ phóng to ngang khi di chuột vào */
    -fx-scale-y: 1.4; /* Tỉ lệ phóng to dọc khi di chuột vào */
}


#game_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/book.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#game_button:hover {
    -fx-scale-x: 1.4; /* Tỉ lệ phóng to ngang khi di chuột vào */
    -fx-scale-y: 1.4; /* Tỉ lệ phóng to dọc khi di chuột vào */
}
#setting_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/setting_png.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#setting_button:hover{
    -fx-background-image: url('../Image/settings.gif');
    -fx-scale-x: 1.4; /* Tỉ lệ phóng to ngang khi di chuột vào */
    -fx-scale-y: 1.4; /* Tỉ lệ phóng to dọc khi di chuột vào */
}

#confirm_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/accept.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#remove_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/smile.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#speaker_button_1 {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/volume.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#speaker_button_2 {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/volume.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#searchBar {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/magnifying-glass.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#logoutButton {
    -fx-background-color: linear-gradient(to top , #fedfb1, #ee3965);
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
}


#translate_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/gg.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#translate_button:hover{
    -fx-scale-x: 1.4; /* Tỉ lệ phóng to ngang khi di chuột vào */
    -fx-scale-y: 1.4; /* Tỉ lệ phóng to dọc khi di chuột vào */
}

#nextButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/next-button.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#nextButton:hover {
    -fx-opacity: 1;
}

#prevButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/next-button.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#prevButton:hover {
    -fx-opacity: 1;
}

#returnButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/arrow-left.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#returnButton {
    -fx-opacity: 1;
}

#src_speaker {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/volume.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#des_speaker {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/volume.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#switch_button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/change.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#ans_A {
    -fx-background-radius: 10px;
    -fx-background-color: F3F3F3;
}

#ans_B{
    -fx-background-radius: 10px;
    -fx-background-color: F3F3F3;
}
#ans_C {
    -fx-background-radius: 10px;
    -fx-background-color: F3F3F3;
}
#ans_D {
    -fx-background-radius: 10px;
    -fx-background-color: F3F3F3;
}

#reset_game {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/right-arrow.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#back_menu_game {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/left-arrow.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#submitButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/confirm_game.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#deleteButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/cross.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
#restart {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/refresh.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#submitEditButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/verified.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#submitEditButton:hover {
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/verified-1--unscreen.gif');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#EditButton {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/magic-wand.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#EditButton:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/magic-wand-unscreen.gif');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}


