#pane{
    -fx-background-radius: 30px;
    -fx-background-color: C5E898;
}

#icon1, #icon2, #icon3 {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-image: url('../Image/github.png');
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}

#member1:hover, #member2:hover, #member3:hover {
    -fx-background-color: #DCDCDC;
}
