.root {
    -fx-background-image: url('../backForDic.png');
    -fx-background-color: #F0FFF0;
    -fx-border-width: 0; /* Loại bỏ viền của nút */
    -fx-border-color: transparent;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
}
